

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%- include('../partials/header.ejs') %>

    <script>
        $(document).ready(function () {

            console.log('tools ejs - document is loaded');
            highLightNavBar('navBarTools');
            //$("a[name='navBarTools']").addClass("highlight-underline");
        
        });
    </script>
    
    <title> <%= title %> </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <br><br>

    <div id="Tools" class="tabcontent">

    <h3>Database Tools page</h3>
    <div>
        <table>
            <tr>
                <th>
                    Identifier
                </th>
                <th>
                    Tool Name
                </th>
            </tr>

            <% rows.forEach( row => { %>
                
                <tr>
                    <td><%= row.Id %></td>
                    <td><%= row.Name %></td>
                </tr>
                
            <% }) %>

        </table>
        
    </div>
    
</div>
</body>